.abt-wrap {
    display: flex;
    flex-direction: row;
    height: 39rem;
  }

.abt-content {
    background-color: var(--mainColorLight);
    color: var(--textColor);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
  }

.abt-photo {
    width: 60%;
    justify-content: center;
    padding: 0;
}

.abt-text {
    max-width: 500px;
}

.abt-btn {
    padding: 0.5rem;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--mainColorLight);
    color: var(--textColor);
    border: 1px solid var(--textColor);
    border-radius: 22px;
  
    &:hover {
      cursor: pointer;
      background-color: var(--mainColor);
    }
}

p {
    margin: 1rem;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
}

/* Media Queries */ 

/* Laptop view */
@media screen and (max-width: 1024px) {
    .abt-wrap {
        height: 42rem;
    }

    .abt-text {
        max-width: 350px;
    }
}

/* Tablet view */
@media screen and (max-width: 768px) {
    .abt-wrap {
        height: 30rem;
    }

    .abt-text {
        max-width: 280px;
    }

    h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 12px;
    }
}

/* Large phone view */
@media (max-width: 650px) {
    .abt-wrap {
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: fit-content;
    }
  
    .abt-content {
      width: 100%;
      padding: 1rem 0;
    }
  
    .abt-wrap img {
      width: 100%;
    }
  }
