.advertisement__hero {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.1);
}

.advertisement__content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20rem;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
}

.advertisement__heading {
    font-size: 56px;
    font-weight: bolder;
}

.advertisement__text {
    font-size: 22px;
    margin: 15px 0;
    max-width: 550px;
}

/* Media query for Laptop */
@media screen and (max-width: 1024px) {
    .advertisement__text {
        padding-bottom: 3rem;
    }

    .advertisement__content iframe {
        width: 900px;
    }
}

/* Media query for tablet */
@media screen and (max-width: 991px) {

    .advertisement__heading {
        font-size: 40px;
    }

    .advertisement__text {
        font-size: 18px;
        margin: 10px 0;
        max-width: 450px; 
    }

    .advertisement__content iframe {
        width: 768px;
    }
}

/* Media query for landscape tablet */
@media screen and (min-width: 1025px) and (max-width: 1366) {
    .advertisement__content {
        padding-top: 300px;
    }
}

/* Media query for x-large mobile phone */
@media screen and (max-width: 767px) {
    .advertisement__hero {
        height: 900px;
    }

    .advertisement__content {
        padding-top: 15rem;
    }

    .advertisement__heading {
        font-size: 32px;
    }

    .advertisement__text {
        font-size: 16px;
        margin: 8px 0; 
        max-width: 350px; 
    }

    .advertisement__content iframe {
        width: 420px;
    }
}