.hero {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.1);
}

.advertisement-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
}

.advertisement-content h1 {
    font-size: 56px;
    font-weight: bolder;
}

.advertisement-content p {
    font-size: 22px;
    margin: 15px 0;
    max-width: 550px;
}

/* Media query for tablet */
@media screen and (max-width: 991px) {
    .advertisement-content h1 {
        font-size: 40px;
    }

    .advertisement-content p {
        font-size: 18px;
        margin: 10px 0;
        max-width: 450px; 
    }
}

/* Media query for x-large mobile phone */
@media screen and (max-width: 767px) {
    .advertisement-content h1 {
        font-size: 32px;
    }

    .advertisement-content p {
        font-size: 16px;
        margin: 8px 0; 
        max-width: 350px; 
    }
}