.view-fleet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    height: 700px;
    padding-top: 75px;
}

.view-fleet-heading {
    text-align: center;
    margin-bottom: 20px;
}

.view-fleet-heading h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.view-fleet-heading span {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.view-fleet-btn-section {
    text-align: center;
}

.view-fleet-btn {
    padding: .8rem;
    font-size: 1rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-fleet-btn:hover {
    background-color: var(--mainColorLight);
}