/* ========== Modal CSS ========== */
.overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.helios__modal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    width: 1000px;
    height: 95vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,.75);
    z-index: 1000;
}

.helios__modal__img {
    width: 525px;
    object-fit: cover;
}

.helios__modal__right {
    width: 100%;
}

.helios__modal__closeBtn {
    position: fixed;
    top: 8px;
    right: 8px;
    color: var(--mainColor);
}

.helios__modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1rem 2rem;
}

.helios__modal__heading {
    color: var(--secondaryColor);
    padding-bottom: 24px;
    text-align: center;
}

.helios__modal__subheading {
    padding: 10px 0;
    color: var(--mainColor);
    font-size: 22px;
}

.helios__modal__list {
    font-size: 14px;
}

.helios__modal__text {
    font-size: 14px;
    line-height: 1.4;
}

.helios__btnContainer {
    display: flex;
    padding: 3rem 1rem;
}

.helios__btnContainer button {
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    border: none;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 22px;
    transition: background-color 0.3s ease;
}

.helios__reserveBtn,
 .helios__modal__closeBtn {
    cursor: pointer;
}

.helios__reserveBtn,
 .helios__closeBtn:hover {
    background-color: var(--mainColorLight);
}

/* Laptop view */
@media screen and (max-width: 1024px) {
    .helios__modal__container {
        height: 80vh;
        width: 80%;
    }

    .helios__modal__img {
        width: 45%;
    }

    .helios__modal__content {
        margin-top: 0;
    }

    .helios__modal__list {
        font-size: 12px;
    }

    .helios__modal__text {
        font-size: 12px;
    }
}

/* Tablet view */
@media screen and (max-width: 768px) {
    .helios__modal__container {
        height: 85vh;
        width: 95%;
    }

    .helios__modal__img {
        width: 55%;
    }

    .helios__modal__content {
        margin-top: 10px;
    }

    .helios__modal__subheading {
        font-size: 16px;
    }

    .helios__modal__list {
        font-size: 11px;
    }

    .helios__modal__text {
        font-size: 11px;
    }

    .helios__btnContainer {
        padding: 1rem 0;
    }

    .helios__btnContainer button {
        padding: 16px 8px;
    }

}

/* Mobile view */
@media screen and (max-width: 500px) {
    .helios__modal__container {
        flex-direction: column;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
    }

    .helios__modal__img {
        width: 100%;
        padding-top: 20px;
    }

    .helios__modal__heading {
        text-align: center;
    }

    .helios__modal__list {
        font-size: 10px;
    }

    .helios__modal__text {
        font-size: 10px;
    }

    .helios__btnContainer {
        padding: 2rem 0;
    }
}