/* ========== Modal CSS ========== */
.overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.heliosModalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    width: 1000px;
    height: 95vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,.75);
    z-index: 1000;
}

.heliosModalImg {
    width: 525px;
    object-fit: cover;
}

.heliosModalRight {
    width: 100%;
}

.heliosModalCloseBtn {
    position: fixed;
    top: 8px;
    right: 8px;
    color: var(--mainColor);
}

.heliosModalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1rem 2rem;
}

.heliosModalHeading {
    color: var(--secondaryColor);
    padding-bottom: 24px;
    text-align: center;
}

.heliosModalSubheading {
    padding: 10px 0;
    color: var(--mainColor);
    font-size: 22px;
}

.heliosModalList {
    font-size: 14px;
}

.heliosModalText {
    font-size: 14px;
    line-height: 1.4;
}

.heliosBtnContainer {
    display: flex;
    padding: 1rem 1rem;
}

.heliosBtnContainer button {
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    border: none;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 22px;
}

/* Laptop view */
@media screen and (max-width: 1024px) {
    .heliosModalContainer {
        height: 80vh;
        width: 80%;
    }

    .heliosModalImg {
        width: 45%;
    }

    .heliosModalContent {
        margin-top: 0;
    }

    .heliosModalList {
        font-size: 12px;
    }

    .heliosModalText {
        font-size: 12px;
    }
}

/* Tablet view */
@media screen and (max-width: 768px) {
    .heliosModalContainer {
        height: 85vh;
        width: 95%;
    }

    .heliosModalImg {
        width: 55%;
    }

    .heliosModalContent {
        margin-top: 10px;
    }

    .heliosModalSubheading {
        font-size: 16px;
    }

    .heliosModalList {
        font-size: 11px;
    }

    .heliosModalText {
        font-size: 11px;
    }

    .heliosBtnContainer {
        padding: 1rem 0;
    }

    .heliosBtnContainer button {
        padding: 16px 8px;
    }

}

/* Mobile view */
@media screen and (max-width: 500px) {
    .heliosModalContainer {
        flex-direction: column;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
    }

    .heliosModalHeading {
        text-align: center;
    }

    .heliosModalList {
        font-size: 10px;
    }

    .heliosModalText {
        font-size: 10px;
    }

    .heliosBtnContainer {
        padding: 2rem 0;
    }

    .heliosModalImg {
        width: 100%;
        padding-top: 20px;
    }
}