/* ========== Modal CSS ========== */
.overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.stormTrooperModalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    width: 1000px;
    height: 95vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,.75);
    z-index: 1000;
}

.stormTrooperModalImg {
    width: 525px;
    object-fit: cover;
}

.stormTrooperModalRight {
    width: 100%;
}

.stormTrooperModalCloseBtn {
    position: fixed;
    top: 8px;
    right: 8px;
    color: var(--mainColor);
}

.stormTrooperModalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1rem 2rem;
}

.stormTrooperModalHeading {
    color: var(--secondaryColor);
    padding-bottom: 24px;
    text-align: center;
}

.stormTrooperModalSubheading {
    padding: 10px 0;
    color: var(--mainColor);
    font-size: 22px;
}

.stormTrooperModalList {
    font-size: 14px;
}

.stormTrooperModalText {
    font-size: 14px;
    line-height: 1.4;
}

.stormTrooperBtnContainer {
    display: flex;
    padding: 6rem 1rem;
}

.stormTrooperBtnContainer button {
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    border: none;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 22px;
}

.stormTrooperReserveBtn, 
.stormTrooperCloseBtn {
   cursor: pointer; 
}

.stormTrooperReserveBtn,
.stormTrooperCloseBtn:hover {
    background-color: var(--mainColorLight);
}

/* Laptop view */
@media screen and (max-width: 1024px) {
    .stormTrooperModalContainer {
        height: 80vh;
        width: 80%;
    }

    .stormTrooperModalImg {
        width: 45%;
    }

    .stormTrooperModalContent {
        margin-top: 0;
    }

    .stormTrooperModalList {
        font-size: 12px;
    }

    .stormTrooperModalText {
        font-size: 12px;
    }

    .stormTrooperBtnContainer {
        padding: 4rem 1rem;
    }
}

/* Tablet view */
@media screen and (max-width: 768px) {
    .stormTrooperModalContainer {
        height: 85vh;
        width: 95%;
    }

    .stormTrooperModalImg {
        width: 55%;
    }

    .stormTrooperModalContent {
        margin-top: 10px;
    }

    .stormTrooperModalSubheading {
        font-size: 16px;
    }

    .stormTrooperModalList {
        font-size: 11px;
    }

    .stormTrooperModalText {
        font-size: 11px;
    }

    .stormTrooperBtnContainer {
        padding: 3rem 0;
    }

    .stormTrooperBtnContainer button {
        padding: 16px 8px;
    }

}

/* Mobile view */
@media screen and (max-width: 500px) {
    .stormTrooperModalContainer {
        flex-direction: column;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
    }

    .stormTrooperModalHeading {
        text-align: center;
    }

    .stormTrooperModalList {
        font-size: 10px;
    }

    .stormTrooperModalText {
        font-size: 10px;
    }

    .stormTrooperBtnContainer {
        padding: 4rem 0;
    }

    .stormTrooperModalImg {
        width: 100%;
        padding-top: 20px;
    }
}