.about-hero {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center top;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.1);
}

.about-us-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
}

.about-us-content h1 {
    font-size: 56px;
    font-weight: bolder;
    align-self: end;
}

.about-us-content p {
    font-size: 22px;
    margin: 15px 0;
    max-width: 550px;
    align-self: flex-end;
}

/* Media query for laptop */
@media screen and (max-width: 1024px) {
    .about-us-content h1 {
        margin-right: 20px;
    }

    .about-us-content p {
        margin-right: 20px;
    }
}

/* Media query for tablet */
@media screen and (max-width: 991px) {
    .about-us-content h1 {
        font-size: 40px;
        margin-right: 20px;
    }

    .about-us-content p {
        font-size: 18px;
        margin: 10px 0;
        margin-right: 20px;
        max-width: 450px; 
    }
}

/* Media query for x-large mobile phone */
@media screen and (max-width: 767px) {
    .about-us-content h1 {
        font-size: 32px;
        align-self: center;
    }

    .about-us-content p {
        font-size: 16px;
        margin: 8px 0; 
        max-width: 350px; 
        align-self: center;
    }
}