.about__bio__wrap {
    display: flex;
    flex-direction: row;
    height: 46rem;
}

.about__bio__content {
    background-color: var(--mainColorLight);
    color: var(--textColor);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    overflow: auto;
    padding-left: 40px;
}

.bio__heading {
    font-size: 32px;
    font-weight: bolder;
    padding: 70px 0;
}

.bio__text {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.7;
}

.about__bio__photo {
    width: 50%;
    padding: 0;
    object-fit: cover;
}

/* Media Queries */

/* Latop view */
@media screen and (max-width: 1024px) {
    .bio__heading {
        font-size: 23px;
    }

    .bio__text {
        font-size: 15px;
        max-width: 390px;
    }
}

/* Tablet View */
@media screen and (max-width: 768px) {
    .about__bio__wrap {
        flex-direction: column;
        height: auto;
    }

    .about__bio__content {
        width: 100%;
        height: 34rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .bio__heading {
        font-size: 26px;
    }

    .bio__text {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        text-align: center;
        max-width: 680px;
    }

    .about__bio__photo {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .about__bio__content {
        padding: 0;
        height: 29rem;
    }

    .bio__heading {
        font-size: 19px;
    }

    .bio__text {
        font-size: 14px;
    }
}